.posts {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}

.selector {
  width: 100px;
  margin: auto;
}

.selector select {
  font-size: 22px;
  background-color: #9c7eee;
  color: #543280;
  border-radius: 5px;
  border: 1px solid black;
}
